<h2>{{name}}</h2>
<img class="popup-img" src="{{imageURL}}">
<ul>
  <a href="https://www.google.com/maps?saddr=My+Location&daddr={{lat}},{{lng}}" target="_blank">
    <li>{{address1}}</li>
    <li>{{address2}}</li>
  </a>
</ul>
<ul>
  <li>{{hours1}}</li>
  <li>{{hours2}}</li>
</ul>
<div class="links">
  <a href="{{website}}" target="_blank">Website</a>
</div>